<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dodaj Wizytę</title>
</head>
<body>
<h1>Dodaj Wizytę</h1>
<form th:action="@{/calendar/add}" method="post">
  <label for="name">Nazwa:</label>
  <input type="text" id="name" name="name" required>
  <br>

  <label for="description">Opis:</label>
  <textarea id="description" name="description"></textarea>
  <br>

  <label for="startTime">Data i czas rozpoczęcia:</label>
  <input type="datetime-local" id="startTime" name="startTime" required>
  <br>

  <label for="endTime">Data i czas zakończenia:</label>
  <input type="datetime-local" id="endTime" name="endTime" required>
  <br>

  <label for="client">Klient:</label>
  <input type="text" id="client" name="client" >
  <br>

  <label for="treatment">Usługa:</label>
  <select id="treatment" name="treatment" th:field="*{treatment}">
    <option value="">-- Wybierz usługę --</option>
    <option th:each="treatment : ${treatmentList}"
            th:value="${treatment.id}"
            th:text="${treatment.name}"
            th:selected="${appointment?.treatment?.id == treatment?.id}">
    </option>
  </select>
  <br>

  <button type="submit">Zapisz</button>
</form>
<a href="/calendar">Powrót</a>
</body>
</html>
