<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stwórz użytkownika</title>
</head>
<body>
<h1>Create User</h1>
<form th:action="@{/admin/createUser}" method="post">
    <label for="username">Nazwa:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password" required>
    <label for="role">Rola:</label>
    <select id="role" name="role" required>
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
    </select>
    <button type="submit">Stwórz użytkownika</button>
</form>
</body>
</html>
