<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Magazyn</title>
</head>
<body>
<h1>Lista Produktów</h1>

<!-- Sekcja ostrzeżeń -->
<h2>Ostrzeżenia</h2>
<ul>
    <li th:if="${expiringProducts.isEmpty()}">Brak produktów z krótkim terminem ważności.</li>
    <li th:each="product : ${expiringProducts}">
        Produkt <span th:text="${product.name}"></span> straci ważność <span th:text="${product.expirationDate}"></span>.
    </li>
</ul>
<ul>
    <li th:if="${lowStockProducts.isEmpty()}">Brak produktów o niskim stanie magazynowym.</li>
    <li th:each="product : ${lowStockProducts}">
        Produkt <span th:text="${product.name}"></span> ma ilość mniejszą niż minimalna.
    </li>
</ul>


<a href="/inventory/add">
    <button>Dodaj Produkt</button>
</a>
<div>
    <form th:action="@{/inventory}" method="get">
        <label for="search">Szukaj produktu:</label>
        <input type="text" id="search" name="search" placeholder="Nazwa produktu">
        <button type="submit">Szukaj</button>
    </form>

    <form th:action="@{/inventory}" method="get">
        <button type="submit" name="sortByStock" value="true">Sortuj po ilości</button>
    </form>
    <form th:action="@{/inventory}" method="get">
        <button type="submit" name="sortByDate" value="true">Sortuj po dacie ważności</button>
    </form>
</div>

<table border="1">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Cena Zakupu</th>
        <th>Cena Sprzedaży</th>
        <th>Ilość</th>
        <th> Minimalna Ilość</th>
        <th>Data Ważności</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.purchasePrice}"></td>
        <td th:text="${product.salePrice}"></td>
        <td th:text="${product.stock}"></td>
        <td th:text="${product.minimalStock}"></td>
        <td th:text="${product.expirationDate}"></td>
        <td>
            <a th:href="@{'/inventory/edit/' + ${product.id}}">Edytuj</a> |
            <a th:href="@{'/inventory/delete/' + ${product.id}}">Usuń</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a href="/dashboard">
        <button>Powrót do strony głównej</button>
    </a>
</div>
</body>
</html>
