<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Wycena Usług</title>
</head>
<body>
<h1>Formularz Wyceny Usług</h1>

<!-- Przycisk przekierowujący na listę rekordów -->
<a href="/pricing/list">
  <button type="button">Przejdź do listy zapisanych wycen</button>
</a>
<hr>

<!-- Formularz edycji lub dodawania danych -->
<form th:action="@{/pricing/calculate}" th:object="${components}" method="post">
  <fieldset>
    <legend>Elementy Wyceny</legend>
    <label for="businessOperating">Koszty działalności gospodarczej:</label>
    <input type="number" id="businessOperating" name="businessOperating" step="0.01" th:value="*{businessOperating}" required>
    <br>

    <label for="employees">Koszty pracowników:</label>
    <input type="number" id="employees" name="employees" step="0.01" th:value="*{employees}" required>
    <br>

    <label for="equipment">Koszty wyposażenia:</label>
    <input type="number" id="equipment" name="equipment" step="0.01" th:value="*{equipment}" required>
    <br>

    <label for="products">Koszty produktów:</label>
    <input type="number" id="products" name="products" step="0.01" th:value="*{products}" required>
    <br>

    <label for="training">Koszty szkoleń:</label>
    <input type="number" id="training" name="training" step="0.01" th:value="*{training}" required>
    <br>

    <label for="income">Zysk netto:</label>
    <input type="number" id="income" name="income" step="0.01" th:value="*{income}" required>
    <br>

    <label for="taxes">Podatki:</label>
    <input type="number" id="taxes" name="taxes" step="0.01" th:value="*{taxes}" required>
  </fieldset>

  <fieldset>
    <legend>Dane Wyceny</legend>
    <label for="manHours">Liczba roboczogodzin:</label>
    <input type="number" id="manHours" name="manHours" th:value="*{manHours}" required>
  </fieldset>

  <button type="submit">Stwórz wycenę</button>
</form>

<a href="/dashboard">
  <button>Powrót</button>
</a>
</body>
</html>
