<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj Produkt</title>
</head>
<body>
<h1>Dodaj Nowy Produkt</h1>
<form th:action="@{/inventory/add}" method="post">
    <label for="name">Nazwa:</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="description">Opis:</label>
    <textarea id="description" name="description"></textarea>
    <br>

    <label for="purchasePrice">Cena Zakupu:</label>
    <input type="number" id="purchasePrice" name="purchasePrice" step="0.01" required>
    <br>

    <label for="salePrice">Cena Sprzedaży:</label>
    <input type="number" id="salePrice" name="salePrice" step="0.01" required>
    <br>

    <label for="stock">Ilość:</label>
    <input type="number" id="stock" name="stock" required>
    <br>

    <label for="minimalStock">Minimalna ilość:</label>
    <input type="number" id="minimalStock" name="minimalStock" min="0">
    <br>

    <label for="expirationDate">Data Ważności:</label>
    <input type="date" id="expirationDate" name="expirationDate">
    <br>

    <button type="submit">Dodaj Produkt</button>
</form>
<a href="/inventory">
    <button>Anuluj</button>
</a>
</body>
</html>
