<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Usług</title>
</head>
<body>
<h1>Lista Usług</h1>

<!-- Przycisk do dodania nowej usługi -->
<a href="/treatments/add">
    <button>Dodaj Nową Usługę</button>
</a>

<!-- Tabela z usługami -->
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Czas Trwania</th>
        <th>Cena</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="treatment : ${treatments}">
        <td th:text="${treatment.id}"></td>
        <td th:text="${treatment.name}"></td>
        <td th:text="${treatment.description}"></td>
        <td th:text="${treatment.duration}"></td>
        <td th:text="${treatment.price}"></td>
        <td>
            <a th:href="@{'/treatments/edit/' + ${treatment.id}}">Edytuj</a> |
            <form th:action="@{'/treatments/delete/' + ${treatment.id}}" method="post" style="display:inline;">
                <button type="submit">Usuń</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a href="/dashboard">
        <button>Powrót do strony głównej</button>
    </a>
</div>
</body>
</html>
